{% extends "base.html" %}

{% block content %}

	<h1>Please upload a csv file or submit in the text box</h1>

    <form role="form" method="post" onsubmit="showHidden(); doSpellCheck(event); return false;">

    	<p>
			<input type="file" id="fileToCheck" onchange="displayFile(event)" size="40">
        	<br>
        	<textarea id="textbox" style="width:400px;height:150px;"></textarea>
        	<br>
        	{% csrf_token %}
        	<button type="submit" value="" name="submit" onsubmit="showHidden()">Submit</button>
		</p>
    </form>

    <div id="hidden_div" style="display:none">
		<p>Errors: </p>
		<div id="errors" style="left-margin:100px;"></div>
	</div>


    <script>

		function displayFile(event) {
			var file = event.target.files[0];
			var fileReader = new FileReader();
			fileReader.onload = function(evt) { 
	      		var contents = evt.target.result;
	    		console.log(typeof contents);
	      		document.getElementById("textbox").innerHTML = contents;
		    }
			var res = fileReader.readAsText(file);
		}

		 function showHidden() {
		   var div = document.getElementById("hidden_div");
		   if (div.style.display == 'none') {
		     div.style.display = '';
		   }
		   else {
		     div.style.display = 'none';
		   }
		 }

		 function doSpellCheck(event) {
			document.getElementById("errors").innerHTML = "hi";
		 }

	</script>

{% endblock content %}